@charset "UTF-8";

/* Anotações:
-diminuir a resolução da imagem do banner */

/* Reset CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/

:root {
    --Black: #0B090A;
    --Black-smooth: #161A1D;
    --Red: #BA181B;
    --White-smooth: rgba(245, 243, 244, 0.50);
    --White: #FFFFFF;
}

/* TYPOGRAPY */

h1 {
    color: var(--White);
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: var(--White);
    font-family: "Inter", sans-serif;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.60);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: var(--White);
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* STYLING */

body {
    background-color: var(--Black-smooth);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* ta estranho isso aqui */
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0px;
}

.header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 75px;
    background-color: var(--Black);
    align-items: center;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    gap: 1rem;
}

.img-logo {
    width: 59px;
    height: 52px;
}

.escrita-telhaflix {
    color: var(--Red);
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-menu {
    padding-block: 20px;
    padding-left: 20px;
}

.hamburguer {
    display: none;
    width: 39px;
    border: none;
    border-top: 4px solid var(--White);
    background-color: var(--Black);
}

.hamburguer::after,
.hamburguer::before {
    content: '';
    display: block;
    width: 39px;
    height: 4px;
    background-color: var(--White);
    margin-top: 7px;
    transition: .3s;
}

.barra {
    visibility: hidden;
    transition: .3s;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5rem;
    gap: 2rem;
}

.menu li a {
    padding-block: 25px;
}

.li-tittle-tv-ao-vivo {
    visibility: hidden;
}

.menu li a,
.logo-tv p {
    color: var(--White);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-tv {
    position: absolute;
    top: -15px;
    right: 37px;
}

.banner {
    z-index: -1;
    background-image: url(imgs/la_casa_de_papel_backgound.png);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 38px;
    gap: 24px;
}

.banner-tittle {
    color: var(--White);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-buttons {
    display: flex;
    gap: 47px;
}

.banner-button {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 8px 15px;
    border-radius: 9px;
    border-color: transparent;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--White);
    background-color: var(--White-smooth);
    cursor: pointer;
}

.banner-button:hover {
    background-color: rgba(153, 153, 153, 0.5);
}

#banner-button-play {
    padding-inline: 24px;
}

.img-buttons {
    width: 1.375rem;
    height: 1.375rem;
}

.banner-fadeBottom {
    margin-top: -10vh;
    height: 7rem;
    background-image: linear-gradient(180deg, transparent, #111111d8, #161A1D);
    /* background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111); */
}

.container-grade {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87vw;
    margin: 0 auto;
    padding-top: calc(40px + 75px);
}

.container-cartazes {
    display: flex;
    margin-top: 50px;
    margin-bottom: 72px;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 34px;
    column-gap: 25px;
}

.cartaz {
    width: 200px;
    height: 300px;
    transition: .6s;
    overflow: hidden;
}

.cartaz:hover {
    transform: scale(1.08);
    transition: .6s;
    overflow: visible;
    cursor: pointer;
}

.img-cartaz {
    width: 200px;
    height: 300px;
}

.detalhes-cartaz {
    position: relative;
    top: 0px;
    left: 17px;
    transition: .4s;
}

.cartaz:hover .detalhes-cartaz {
    position: relative;
    top: -110px;
    left: 17px;
}

.img-cartaz {
    transition: .6s;
}

.cartaz:hover .img-cartaz {
    opacity: 0.5;
}

.footer {
    background-color: var(--Black);
}

/* Typical Device Breakpoints

Mobile devices – 320px — 480px.
Tablets and mobile devices – 481px — 768px.
Laptops and tablets – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */

@media screen and (max-width: 768px) {

    .header {
        display: flex;
        width: 100vw;
        height: 81px;
        justify-content: space-between;
        z-index: 2;
    }

    .img-logo {
        display: none;
    }

    .hamburguer {
        display: block;
        margin-right: 1.5rem;
        cursor: pointer;
    }

    .hamburger-active {
        border-top-color: transparent;
    }

    .hamburger-active::before {
        transform: rotate(135deg);
    }

    .hamburger-active::after {
        transform: rotate(-135deg);
        position: relative;
        top: -10px;
    }

    .barra-active {
        display: block;
        position: absolute;
        top: 76px;
        left: 0;
        border-top: 4px solid var(--White);
        width: 100%;
        visibility: visible;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 81px;
        right: -10px;
        left: 0px;
        margin: 0px;
        text-align: center;
        transition: .4s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .menu-active {
        height: 310px;
        padding-block: 25px;
        visibility: visible;
        overflow-y: visible;
        transition: .3;
        background-color: var(--Black);
    }

    .menu li a {
        font-size: 1.3rem;
        padding-block: 15px;
        padding-inline: 65px;
    }

    .li-tittle-tv-ao-vivo {
        visibility: visible;
    }

    .logo-tv {
        display: none;
    }

}

@media screen and (max-width: 380px) {

    h1 {
        color: var(--White);
        font-family: "Inter", sans-serif;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h2 {
        color: var(--White);
        font-family: "Inter", sans-serif;
        text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.60);
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h3 {
        color: var(--White);
        font-family: "Inter", sans-serif;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .banner-tittle {
        color: var(--White);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .banner-button {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 8px 15px;
        border-radius: 9px;
        border-color: transparent;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--White);
        background-color: var(--White-smooth);
        cursor: pointer;
    }

}